/* Read the Docs API theme */

@import (less) 'normalize-css/normalize.css';
@import 'typography';

@import 'components/content';
@import 'components/sidebar';
@import 'components/header';
@import 'components/footer';
@import 'elements/breadcrumbs';
@import 'elements/button';
@import 'elements/forms';
@import 'elements/navigation';
@import 'elements/signature';

/* Variables */
@sidebar-width: 20rem;

/* Style application */

/* Section styles */
body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    background: @color-nav-bg;
    color: @color-nav-fg;
}

nav.header {
    .ui_header_fixed();

    div.header-search {
        .ui_header_left();

        div.inner {
            padding: .75rem;
            width: 100%;
            box-sizing: border-box;
        }

        div.element.input-search {
            .element_input_search(rgba(255,255,255,0.1), @color-header-fg);
            display: block;
            width: 100%;
            box-sizing: border-box;

            input {
                width: 100%;
            }

            div.input-search-icon {
                .element_input_search_icon();
            }
        }
    }

    div.header-main {
        .ui_header_main();

        div.header-main-content {
            padding: .75rem;
        }
    }

    div.header-main-content div.inner {
        .element_signature();
        margin: 0rem;
        padding: 0rem 1rem 0rem 1rem;
        line-height: 2.25rem;
        background: initial;
    }

}

div.content {
    .ui_content();

    h1 { .ui_heading(1.3rem); }
    h2 { .ui_heading(1.2rem); }
    h3 { .ui_heading(1.1rem); }
    h4 { .ui_heading(1rem); }
    h5 { .ui_heading(1rem); }
    h6 { .ui_heading(1rem); }

    dl.class > dt,
    dl.method > dt,
    dl.function > dt,
    dl.attribute > dt {
        .ui_heading_block(1rem);
        .element_signature();
    }

    p {
        .ui_text_readable();

        code {
            span.pre {
                word-wrap: pre;
            }

            .ui_text_fixed();
        }
    }

    section.content-heading {
        padding: 4rem 0rem;

        h1 {
            .ui_heading();
            .ui_heading_title();
            margin-top: 0rem;
        }
        h2 {
            .ui_heading();
            .ui_heading_subtitle();
            margin-bottom: 0rem;
        }

        div.content-logo {
            float: right;
            padding-left: 1rem;
            overflow: hidden;

            img {
                width: 9rem;
                height: 9rem;
            }
        }

        div.content-search div.element.input-search {
            .element_input_search(@color-nav-bg, @color-nav-fg);
            margin-top: 1rem;

            div.input-search-icon {
                .element_input_search_icon();
            }
        }
    }

    div.content-body {
        max-width: 60rem;
    }
}

/* Sidebar */
nav.sidebar {
    .ui_sidebar();

    div.inner {
        .ui_sidebar_inner();
    }

    section.sidebar-toc {
        > ul { .ui_sidebar_l1_list(); }
        > ul > li { .ui_sidebar_l1_item(); }
        > ul > li > ul { .ui_sidebar_l2_list(); }
        > ul > li > ul > li { .ui_sidebar_l2_item(); }
        > ul > li > ul > li > ul { .ui_sidebar_l3_list(); }
        > ul > li > ul > li > ul > li { .ui_sidebar_l3_item(); }
        > ul > li > ul > li > ul > li > ul { .ui_sidebar_l4_list(); }
        > ul > li > ul > li > ul > li > ul > li { .ui_sidebar_l4_item(); }

        a > code {
            font-family: 'Noto Sans', sans-serif;
        }
    }
}

footer {
    .ui-footer(@color-nav-fg);

    div.inner {
        .ui-footer-inner();
    }

    ul.footer-buttons {
        .element-button-bar();
    }
}

/* Content styles */
h1 > a.headerlink,
h2 > a.headerlink,
h3 > a.headerlink,
h4 > a.headerlink,
h5 > a.headerlink,
h6 > a.headerlink,
div.section dl > dt > a.headerlink,
nav.header div.header-main-content a.headerlink {
    visibility: hidden;
    text-decoration: none;
}

h1 > a.headerlink:before,
h2 > a.headerlink:before,
h3 > a.headerlink:before,
h4 > a.headerlink:before,
h5 > a.headerlink:before,
h6 > a.headerlink:before,
div.section dl > dt > a.headerlink:before,
nav.header div.header-main-content a.headerlink:before {
    .fa-icon();
    visibility: visible;
    margin-left: .5rem;
    content: @fa-var-link;
    font-size: 1rem;
    color: fade(@color-fg, 75%);
    text-decoration: none;
}

.ui {
}
