/* Form elements */

@import '../variables';

.element_input_flat (@bg: @color-bg, @fg: @color-fg) {
    display: inline-block;
    position: relative;
    box-sizing: border-box;

    background: @bg;
    color: @fg;
    border-radius: 2px;

    input[type='text'] {
        width: 100%;
        border: 0rem;
        padding: .65rem;
        box-sizing: border-box;

        font-size: 1rem;
        line-height: 1rem;

        background: inherit;
        color: inherit;

        outline: 0rem;

        transistion: all 1s;

        &:focus {
            background: mix(@bg, @fg, 90%);
            transistion: all 1s;
        }

        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder,
        &:-moz-placeholder,
        &::placeholder {
            color: fade(@fg, 75%);
        }
    }
}

.element_input_search (@bg: @color-bg, @fg: @color-fg) {
    .element_input_flat(@bg, @fg);

    input[type='text'] {
        padding-left: 2.65rem;
    }

    .element_input_search_icon () {
        position: absolute;
        top: 0rem;
        left: 0rem;
        height: 100%;
        width: 2rem;
        text-align: center;
        color: @fg;

        &:before {
            .fa-icon();
            position: absolute;
            content: @fa-var-search;
            top: .65rem;
            height: 100%;
        }
    }
}
