/* Content */

@import '../variables';

.ui_content () {
    margin-left: @sidebar-width;

    .ui_content_body () {
        padding: @header-height 2rem 2rem 2rem;
        background: @color-bg;
        color: @color-fg;
    }
}
