/* Footer */

@import '../variables';
@import 'grid';

.ui-footer (@fg: @color-fg) {
    .ui-grid-block();
    color: fade(@fg, 75%);

    font-size: .9rem;
    text-align: center;

    .ui-footer-inner () {
        padding: 2rem 0rem;
        .ui-grid-column-content-only();
    }

    hr {
        display: block;
        width: 75%;
        height: 1px;
        margin: 2rem auto;
        border: 0px;

        background: fade(@fg, 25%);
    }
}
