/* Header */

@import '../variables';
@import '../util';

.ui_header () {
    height: @header-height;
    overflow: hidden;
    z-index: 10000;

    background: @color-header-bg;
    color: @color-header-fg;

    .util-shadow-1();

    .ui_header_left () {
        display: block;
        float: left;
        width: @sidebar-width;
        height: @header-height;
    }

    .ui_header_main () {
        display: block;
        float: left;
        height: @header-height;
    }
}

.ui_header_fixed () {
    .ui_header();
    position: fixed;
    top: 0rem;
    left: 0rem;
    right: 0rem;
}
